<main>
  <header>
  <p><span style="font-size: 85px">S</span>CHNEIDER'S <span style="font-size: 85px">D</span>ELICATESSEN</p>
  <p id="undLine"><span style="font-size: 85px">________________________________ {{!-- ________________________ --}}</span></p>
  </header>  
  <div class="row">

    <div class="col-md-12 ">

      <div class="col-md-4">
          <div id="orderCueDiv">
              <h2 class="heading">Order Cue</h2>
              <ul>
                {{#each burgers}}
                  {{#unless this.devoured}}
                    <li>
                      <p class="burgerType">{{this.burger_name}}</p>
                      <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btnDevour" type="submit">Delivered</button>
                      </form>
                    </li>
                  {{/unless}}
                {{/each}}
              </ul>
          </div>
      </div>

      <div class="col-md-4 text-center">
          <div class="input">
              <h2  class="heading" id="add">Add an Order</h2>
              <div class="form-group">
                  <form method="POST" action="burgers/insertOne" class="addOne text-center">
                      <textarea id="textArea" type="text" name="burger_name" rows="4" cols="60"></textarea>
                      <button id="btnCreate"  type="submit">Submit</button>
                  </form>
              </div>
          </div>
      </div>

      <div class="col-md-4 text-left">
          <div id="orderDoneDiv">
              <h2 class="heading">Served Meals</h2>
              <ul>
                {{#each burgers}}
                  {{#if this.devoured}}
                    <li>
                      <p class="burgerType">{{this.burger_name}}</p>
                      <form action="burgers/deleteOne/{{this.id}}?_method=DELETE" method="POST">
                        <button class="btnDevour" type="submit">Remove</button>
                      </form>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
          </div>
      </div>

    </div>
  </div>
</main>

 